@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Open Sans";
}

.header,
.footer {
  color: $secondary-text;
  background-color: rgba($primary-background, $alpha: 0.5);
}

main {
  color: $primary-text;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}
