@use "./partials/global" as *;
@use "./partials/variables" as *;

body {
  background-position: center;
  background-size: cover;
  background-size: 900px auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}
.body__background__default {
  background-image: url("../assets/images/background.jpg");
}
.body__background__-10 {
  background-image: url("../assets/images/-10.jpg");
}
.body__background__0-10 {
  background-image: url("../assets/images/0-10.jpg");
}
.body__background__10-20 {
  background-image: url("../assets/images/10-20.jpg");
}
.body__background__20-30 {
  background-image: url("../assets/images/20-30.jpg");
}
.body__background__30 {
  background-image: url("../assets/images/30.jpg");
}

footer {
  height: 16.5%;
}

.main {
  padding: 1rem;
}

.header__title {
  text-align: center;
  font-weight: 100;
  padding: 1.25rem;
}

.about {
  &__title {
    padding: 1.5rem;
    text-align: center;
    font-weight: 400;
  }
  &__text {
    padding: 1rem;
    text-align: center;
    font-weight: 50;
    font-style: italic;
    opacity: 90%;
    width: 80%;
    margin: auto;
  }
}

.form {
  &__title {
    padding: 1rem;
    text-align: center;
    font-weight: 400;
  }
  &__lable {
    padding: 0.5rem;
    text-align: center;
    display: block;
  }
  &__input {
    margin: 1rem auto;
    text-align: center;
    display: block;
    height: 2rem;
    color: $primary-text;
    border: $primary-background 1px dashed;
    border-radius: 5px;
    background-color: $secondary-background;
    &::placeholder {
      color: $tertiary-text;
      font-weight: 50;
    }
    // &:hover {
    //   border: $primary-background 1px solid;
    // }
    &:focus {
      outline: none;
      border: $primary-background 1px solid;
    }
  }
  &__button {
    margin: 1rem auto;
    text-align: center;
    display: block;
    height: 2rem;
    border: $primary-background 1px solid;
    border-radius: 5px;
    width: 9rem;
    background-color: $secondary-background;
    text-decoration: none;
    color: $primary-text;
    &:hover {
      background-color: rgba($primary-background, $alpha: 0.5);
      color: $secondary-text;
      border: $secondary-text 1px solid;
    }
    &:active {
      transform: translate(3px, 3px);
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
  }
  &__creators {
    margin: auto;
    width: 20rem;
    display: flex;
    justify-content: space-around;
  }
  &__creators__img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    opacity: 50%;
    &:hover {
      opacity: 100%;
    }
  }
  &__copyright {
    text-align: center;
    font-weight: 200;
    font-size: 0.6rem;
    padding-bottom: 0.5rem;
  }
}

.weather {
  color: $secondary-text;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: auto;
  &__city {
    color: $secondary-text;
    background-color: rgba($primary-background, $alpha: 0.5);
    padding-top: 2rem;
    font-weight: 400;
  }
  &__temp {
    color: $secondary-text;
    background-color: rgba($primary-background, $alpha: 0.5);
    padding: 1rem;
    font-size: 5rem;
  }
  &__feel {
    color: $secondary-text;
    background-color: rgba($primary-background, $alpha: 0.5);
    padding: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  &__high-low {
    color: $secondary-text;
    background-color: rgba($primary-background, $alpha: 0.5);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 32px;
  }
  &__return-button {
    margin: 1rem auto;
    text-align: center;
    display: block;
    height: 2rem;
    border-radius: 5px;
    width: 9rem;
    text-decoration: none;
    background-color: rgba($primary-background, $alpha: 0);
    color: $secondary-text;
    border: $secondary-text 1px solid;
    &:hover {
      color: $primary-text;
      border: $primary-background 1px solid;
      background-color: $secondary-background;
    }
    &:active {
      transform: translate(3px, 3px);
    }
  }
  &__return-link {
    width: 30rem;
    background-color: rgba($primary-background, $alpha: 0.5);
    padding-bottom: 2rem;
  }
}

.error {
  border: 1px solid #d22d2d;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}
.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}
.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}
.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}
.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}
.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}
.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}
